<head>
	<meta
		property="og:url"
		content=<%= ogm.url %>
	/>
	<meta property="og:type" content="website" />
	<meta
		property="og:title"
		content=<%= ogm.title %>
	/>
	<meta
		property="og:description"
		content=<%= ogm.description %>
	/>
	<meta
		property="og:image"
		content=<%= ogm.image %>
	/>
</head>
<body>
    <script>
        document.location.href="<%= ogm.url %>"
    </script>
</body>
